{% extends '../base.html' %}
{% comment %} 
Визуализира всички курсове 
използваме html за изтриване на курсове за да избегне презареждане на страницата затова 
разделяваме страницата на partials -  по - малки части код 
{% endcomment %}
{% load static %}
{% block extrahead %}
    <title>Специалности</title>
{%  endblock %}
{%  block content %}

  <div class="flex flex-col  bg-gray-200">
    <div class="flex bg-gray-200 w-full p-4">
      <div class="flex-1">
        <h2 class="text-xl  text-center font-bold text-indigo-600">Специалности</h2>
      </div>
      {% if request.user.is_superuser %}
          <a
            class="bg-gradient-to-r from-blue-600 to-green-500 text-gray-200 p-3 rounded"
            href="{% url 'modules:new_module' %}">
          Добави нова специалност</a>
      {% endif %}
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3  gap-4" id="moduleGrid">
      {% include 'partials/_modules_list.html' with modules=modules %}
  </div>
{% endblock %}