{% load exam_params %}
<div class="w-1/2 p-4">
  <h1 class="text-2xl font-bold">{{module.name}}</h1>
  {% for exam in module.exams.all %}
    <div class="flex justify-between mt-4">
      <div class="w-1/2">
        <div class="flex space-x-3 mb-2">
          <h2 class="text-xl font-bold">{{exam.name}}
          </h2>
          {% if request.user.id|exam_params:exam.id %}
              <span class="bg-green-500 text-gray-100 px-2 py-1 rounded">Регистриран</span>
          {% endif %}

        </div>
        <p class="text-sm">{{exam.description}}</p>
        <p>Краен срок: <span class="font-semibold text-blue-600">{{exam.humanize_date}}</span></p>
        {% if user_is_participant and not request.user.id|exam_params:exam.id %}
          <div class="flex justify-between items-center my-2">
            <p class="">Ти си част от този курс:</p>
            <a href="{% url 'modules:new_exam_registration' module.id exam.id %}" class="bg-blue-600 text-blue-200 px-2 w-full py-2 rounded shadow-md">Регистрирай се за изпита</a>
          </div>
        {% endif %}
      </div>
      <div class="w-1/2">
        {% comment %} <a href="{{exam.get_absolute_url}}" class="btn btn-primary">Провери</a> {% endcomment %}
      </div>
    </div>
  {% endfor %}
</div>