{% load exam_params %}
<div class="w-1/2 p-4">
  <h1 class="text-2xl font-bold">{{module.name}}</h1>
  <div class="flex flex-col w-full my-4">
    <h3 class="text-xl font-semibold">Описание</h3>
  {% if module.description %}
    <p>{{module.description}}</p>
  {% else %}
    <p>Няма описание добави  
      <a href="{% url 'modules:edit_module' module.id %}" class="text-blue-600 text underline">тук</a>
    </p>
  {% endif %}
  </div>
     <div id="exams">
      {% include 'partials/_exams_list.html' with module=module %}
      
    </div>
  
    {% if user.is_superuser %}
      {% include 'partials/_exam_form.html' with module=module form=form %}
    {% endif %}
</div>